@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 10%;
  background: #3B67CE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navBar a {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin-left: 2.5rem;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}
.container .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  background: #254693;
}
.container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.container .card img {
  width: 330px;
  height: 220px;
}
.container .card h4 {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}
.container .card p {
  padding: 0.3rem;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}
.container .card a {
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.card {
  background: #fff;
  width: 270px;
  height: 400px;
  margin: 10px;
}

.title {
  text-align: center;
  font-size: 40px;
  color: #101f41;
  margin-top: 150px;
  font-weight: 600;
}

body {
  background: #fff;
  color: #fff;
  line-height: 1.6;
  font-family: "Quicksand", sans-serif;
  padding: 10px 100%;
  margin-top: 150px;
  background-color: #9DB3E7;
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
  font-size: 3em;
  color: #101f41;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}
.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #3B67CE;
}
.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form form label {
  display: block;
}
.contact-form form p {
  margin: 0;
  padding: 1em;
}
.contact-form form .block {
  grid-column: 1/3;
}
.contact-form form button {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #fff;
  background: #182f62;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}
.contact-form form button:hover {
  background: #101f41;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}
.contact-form form button:focus {
  background: #101f41;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}
.contact-form form input {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.contact-info {
  background: #254693;
}
.contact-info h4 {
  text-align: center;
  margin: 0 0 1rem 0;
}
.contact-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.titulo-equip {
  font-size: 50px;
  color: #101f41;
  margin-top: 150px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}
.titulo-equip:hover {
  color: black;
  text-decoration: underline;
}

.titulo-equipa {
  font-size: 40px;
  color: #101f41;
  font-weight: bolder;
  text-align: center;
}
.titulo-equipa:hover {
  color: black;
  text-decoration: underline;
}

footer {
  color: #101f41;
  font-size: 45px;
  text-align: center;
  margin-top: 100px;
}

.footer-equip {
  color: #101f41;
  font-size: 45px;
  text-align: center;
  margin-top: 1550px;
}

.footer-serv {
  color: #101f41;
  font-size: 45px;
  text-align: center;
  margin-top: 100px;
}

.titulo-serv {
  font-size: 50px;
  color: #101f41;
  margin-top: 150px;
  font-weight: 600;
  text-decoration: none;
}
.titulo-serv:hover {
  color: black;
}

.titulo-servi {
  font-size: 40px;
  color: #101f41;
  font-weight: bolder;
}
.titulo-servi:hover {
  color: black;
}

.parrafo {
  font-size: 25px;
  margin-top: 25px;
  color: #182f62;
}
.parrafo:hover {
  background-color: #101f41;
  color: #fff;
  transition: 0.3ms ease;
}

@media (max-width: 1044px) {
  .header {
    padding: 1.3rem 5%;
  }
}
@media (max-width: 895px) {
  .icons {
    display: inline-flex;
  }
  .icons #close-icon {
    display: none;
  }
  #check:checked ~ .icons #menu-icon {
    display: none;
  }
  #check:checked ~ .icons #close-icon {
    display: block;
  }
  #check:checked ~ .navBar {
    height: 15rem;
  }
  #check:checked ~ .navBar a {
    transform: translateY(0);
  }
  .navBar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: #254693;
    overflow: hidden;
    transition: 0.3s ease;
  }
  .navBar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: 0.3s ease;
  }
}
@media (min-width: 700px) {
  body {
    padding: 0 4em;
  }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4 {
    text-align: left;
  }
  .contact-info ul {
    text-align: left;
  }
  .contact-info p {
    text-align: left;
  }
}

/*# sourceMappingURL=estilo.css.map */
